{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

          <div class="row justify-content-md-center">     
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Settings</h4>
                  <p class="card-category">Provide Sports Information Here.</p>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row justify-content-md-center">
                      <div class="col-md-8 mt-5">
                        <div class="form-group">
                          <label class="bmd-label-floating">Team Name : </label>
                          <input type="text" class="form-control" name="team" value="{{ current_sports }}">
                        </div>
                      </div>
                    </div>

                    <div class="row justify-content-md-center">
                      <div class="col-md-8 mt-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Sheet ID : </label>
                          <input type="text" class="form-control" name="sheet_id" value="{{ sheet_id }}">
                        </div>
                      </div>
                    </div>

                    <div class="row justify-content-md-center">
                      <div class="col-md-8 mt-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Sheet Name : </label>
                          <input type="text" class="form-control" name="sheet_name" value="{{ sheet_name }}">
                        </div>
                      </div>
                    </div>

                    <div class="row justify-content-md-center">
                      <div class="col-md-8 mt-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Rule : </label>
                          <input type="text" class="form-control" value="{{ rule }}">
                        </div>
                      </div>
                      <div class="col-md-6 rule-comment">
                        <i class="material-icons">warning</i>
                        <label>Only "Mode" and "Median" can be used in the rule.</label>
                      </div>
                    </div>

                    <div class="row justify-content-md-center">
                      <div class="col-md-8 mt-4">
                        <!-- <div class="form-group"> -->
                          <label class="bmd-label-floating">Victory Condition : </label>
                          <select class="form-select" aria-label="victory_condition" name="victory" onchange="">
                            <option value="0" {% if victory == 0 %} selected="selected"{% endif %}>If the variance is larger and the total average score is higher, you win</option>
                            <option value="1" {% if victory == 1 %} selected="selected"{% endif %}>If the variance is larger, you win</option>
                            <option value="2" {% if victory == 2 %} selected="selected"{% endif %}>If the total average score is higher, you win</option>
                          </select>
                        <!-- </div> -->
                      </div>
                    </div>
                    
                    <div class="row justify-content-md-center">
                      <div class="col-md-3 my-4">
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary pull-right">Add Info</button>
                        </div>
                      </div>
                      <div class="col-md-3 my-4">
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary pull-right">Update Info</button>
                        </div>
                      </div>
                        
                      </div>
                    </div>
                    
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
